*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
}
@font-face{
    font-family: "Plain Light";
    src: url(./fonts/plain-light-webfont.ttf) format(truetype);
}
@font-face {
    font-family: "silk serif";
    src: url(./fonts/silkserif-lightitalic-webfont.ttf) format(truetype);
}
@font-face {
    font-family: "silk regular";
    src: url(./fonts/silkserif-regularitalic-webfont.ttf) format(truetype);
}
@font-face {
    font-family: "plain regular";
    src: url(./fonts/plain-regular-webfont.ttf) format(truetype);
}
html,body{
    width: 100%;
    height: 100%;
    /* cursor: none; */
}

#loader{
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
    position: fixed;
    z-index: 999;
    padding: 14vw 18vh;
    cursor: none;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
#line1-part1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1.9vw;
    gap: 1vw;
}
#line1-part1 h5{
    text-align: right;
    width: 5vw;
}
#line1-part1 h5,h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 5vw;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px white;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    48%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px white;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color:transparent;
        font-weight: 500;
        opacity: 0;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px white;
        color:transparent;
        font-weight: 500;
        opacity: 1;
    }
}
#main{
    position: relative;
    background-color: #0B0B0B;
}
/* PAGE 1 */
#page1{
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
    /* overflow: hidden; */
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.6vw 4vw 2.6vw 4vw;
}
#navpart1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27vw;
}
#navpart1 #svg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.3vw;
}
#navpart2{
    display: flex;
    gap: 3vw;
    align-items: center;
}
#navpart2 h3{
    font-weight: 500;
    font-size: .8vw;
}
.hero{
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    width: 72%;
    height: fit-content;
    margin-left: 27.5vw;
    overflow: hidden;
    position: relative;
    z-index: 9999;
}
.hero h1{
    font-size: 6.2vw;
    text-transform: uppercase;
}
#hero3 h2{
    font-size: 6.2vw;
    text-transform: uppercase;  
    border-bottom: .5vw solid #fff;  
}
.hero:nth-child(2){
    margin-left: 19.8vw;
    display: flex;
    margin-top: 9vh;
}
.hero:nth-child(4) span{
    text-decoration: underline;
}
.hero:nth-child(2)::before{
    font-size: 3vw;
    content:"01";
    margin-right: 4.5vw;
    font-family: silk serif;
    font-weight: 500;
}
#hero3 h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 300;
    border-bottom: 0.5vw solid #ffffff00;
}




/* PAGE 2 */



#page2{
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
    padding-top: 8vh;
}
#video-container{
    width: 72%;
    height: 70vh;
    position: relative;
    /* background-color: red; */
    left: 28%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-position: center;
    background-size: cover;
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    object-fit: cover;
}
#video-container #play-button{
    /* transition: all ease; */
    width: 9vw;
    height: 18vh;
    border-radius: 50%;
    background-color: #FFA63D;
    position: absolute;
    z-index: 1;
    left: 68%;
    top: -12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-container #play-button i{
    font-size: 1.6vw;
}
#video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}



/* PAGE 3 */


#page3{
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
    /* overflow: hidden; */
}
#heading h1{
    font-size: 6.2vw;
    display: flex;
    text-transform: uppercase;
    margin-left: 19.8vw;
    letter-spacing: 0.3vw;
    margin-bottom: 4vh;
}
#heading h1::before{
    font-size: 3vw;
    content:"02";
     margin-right: 4.5vw;
     font-family: silk serif;
     font-weight: 500;
}
#page3 #container1{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #151515;
    padding: 10vh 6vw;
}
#page3 #container1 #object1{
    /* background-color: red; */
    /* border-bottom: 1px solid white; */
    width: 25%;
    min-height:50vh;
    margin-right: 5vw;
}
#page3 #container1 #object1 h2{
    font-size: 2vw;
    margin-bottom: 3vh;
}
#page3 #container1 #object1 .image-div{
    width: 100%;
    height: 55vh;
    margin-bottom: 3vh;
    background-color: red;
}
#page3 #container1 #object1 .image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page3 #container1 #object1 #text{
    width: 100%;
    height: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 3vh;
}
#page3 #container1 #object1 #text p{
    height: fit-content;
    font-family: plain light;
    font-weight: 500;
}
#page3 #container1 #object1 #line{
    width: 100%;
    height: 0.1vh;
    background-color: #fff;
}
#page3 #container1 #object2{
    /* background-color: red; */
    width: 45%;
    min-height:55vh;
    margin-right: 5vw;
}
#page3 #container1 #object2 h2{
    font-size: 2vw;
    margin-bottom: 3vh;
}
#page3 #container1 #object2 .image-div{
    width: 90%;
    height: 75vh;
    margin-bottom: 3vh;
}
#page3 #container1 #object2 .image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#page3 #container1 #object2 #text{
    width: 90%;
    height: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 1vh;
}
#page3 #container1 #object2 #text p{
    height: fit-content;
    font-family: plain light;
    font-weight: 500;
}
#page3 #container1 #object2 #line{
    width: 90%;
    height: 0.1vh;
    background-color: #fff;
}
#page3 #container1 #object3{
    width: 16vw;
    height: 16vw;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 10%;
    left: 76%;
}

#page3 #container2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-shrink: 0;
    background-color: #151515;
    padding: 10vh 6vw;
    position: relative;
}
#page3 #container2 #object3{
    width: 20vw;
    height: 16vw;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 5vw;
    position: relative;
}
#page3 #container2 #object1{
    /* background-color: red; */
    /* border-bottom: 1px solid white; */
    width: 35%;
    min-height:50vh;
    margin-right: 5vw;
}
#page3 #container2 #object1 h2{
    font-size: 2vw;
    margin-bottom: 3vh;
}
#page3 #container2 #object1 .image-div{
    width: 110%;
    height: 55vh;
    margin-bottom: 3vh;
}
#page3 #container2 #object1 .image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page3 #container2 #object1 #text{
    width: 100%;
    height: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 3vh;
}
#page3 #container2 #object1 #text p{
    height: fit-content;
    font-family: plain light;
    font-weight: 500;
}
#page3 #container2 #object1 #line{
    width: 100%;
    height: 0.1vh;
    background-color: #fff;
}



#page3 #container2 #object2{
    /* background-color: red; */
    width: 45%;
    min-height:55vh;
    margin-right: 5vw;
}
#page3 #container2 #object2 h2{
    font-size: 2vw;
    margin-bottom: 3vh;
}
#page3 #container2 #object2 .image-div{
    width: 100%;
    height: 75vh;
    margin-bottom: 3vh;
}
#page3 #container2 #object2 .image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
#page3 #container2 #object2 #text{
    width: 100%;
    height: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 1vh;
}
#page3 #container2 #object2 #text p{
    height: fit-content;
    font-family: plain light;
    font-weight: 500;
}
#page3 #container2 #object2 #line{
    width: 100%;
    height: 0.1vh;
    background-color: #fff;
}

#page3 #object4{
    position: relative;
    width: 25%;
    min-height: 70vh;
    /* background-color: rebeccapurple; */
    margin-top: -20vh;
    margin-left: 10vh;
}
#page3 #object4 h2{
    font-size: 2vw;
    margin-bottom: 3vh;
}
#page3  #object4 .image-div{
    width: 100%;
    height: 55vh;
    margin-bottom: 3vh;
}
#page3  #object4 .image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page3  #object4 #text{
    width: 100%;
    height: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 3vh;
}
#page3 #object4 #text p{
    height: fit-content;
    font-family: plain light;
    font-weight: 500;
}
#page3  #object4 #line{
    width: 100%;
    height: 0.1vh;
    background-color: #fff;
}

#page3 #container3{
    position: relative;
    width: 60%;
    min-height: 80vh;
    /* background-color: red; */
    margin-left: 40vw;
    margin-top: -20%;
}
#page3 #container3 #object3{
    width: 20vw;
    height: 20vw;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 5vw;
    position: absolute;
    bottom: 0;
}
#page3 #container3 #object1{
    position: absolute;
    bottom: 0;
    left: 40%;
    /* background-color: red; */
    /* border-bottom: 1px solid white; */
    width: 45%;
    min-height:60vh;
    margin-right: 5vw;
}
#page3 #container3 #object1 h2{
    font-size: 2vw;
    margin-bottom: 3vh;
}
#page3 #container3 #object1 .image-div{
    width: 100%;
    height: 65vh;
    margin-bottom: 3vh;
}
#page3 #container3 #object1 .image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page3 #container3 #object1 #text{
    width: 100%;
    height: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    margin-bottom: 3vh;
}
#page3 #container3 #object1 #text p{
    height: fit-content;
    font-family: plain light;
    font-weight: 500;
}
#page3 #container3 #object1 #line{
    width: 100%;
    height: 0.1vh;
    background-color: #fff;
}

#page3 #container4{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3 #container4 #object3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #FFA63D;
}
#page3 #container4 #object3 h3{
    font-weight: 500;
    font-style: 1vw;
    color: #fff;
}
#object3{
    display: flex;
    align-items: center;
    justify-content: center;
}
#object3 svg{
    width: 100%;
    height: 100%;
    scale:0.3;
}
#container2 #object3 svg{
    transform: rotate(320deg);
}
#container3 #object3 svg{
    transform: rotate(-90deg);
}
.image-div{
    overflow: hidden;
    position: relative;
}
/* PAGE 4 */

#page4{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
}
#headtext h1{
    font-size: 6.2vw;
    text-transform: uppercase;
    margin-left: 19.8vw;
    letter-spacing: 0.3vw;
    display: flex;
    margin-bottom: 4vh;
}
#headtext h1::before{
    font-size: 3vw;
    content:"03";
     margin-right: 4.5vw;
     font-family: silk serif;
     font-weight: 500;
}
.underline{
    height: 0.1vh;
    width: calc(100% - 27.5vw);
    margin-left: 27.5vw;
    background-color: #fff;
}
#page4 #firstp{
    /* background-color: red; */
    height: 30vh;
    /* text-transform: uppercase; */
    font-family: plain light;
    font-size: 2vw;
    width: 33%;
    margin-left: 27.8vw;
    margin-top: 12vh;
}
#page-4content{
    position: relative;
    width: 100%;
    margin-top: 10vh;
    /* background-color: red; */
}
#page-4flex{
    margin-top: 10vh;
    display: flex;
    position: relative;
    width: calc(100% - 27.8vw);
    margin-left: 27.8vw;
    gap: 2vw;
}
#page-4flex img{
    width: 50%;
}
#page-4flex p{
    width: 20%;
    height: fit-content;
}

#awards{
    width: 33%;
    position: relative;
    margin-top: -40vh;
    left: 55%;
    height:fit-content;
    background-color: #3F7DF4;
    padding: 4vw 3vw;
}
#awards .awards-elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    margin-bottom: 5.5vh;
}
#awards .awards-elem:nth-last-child(1){
    margin-bottom: 0vh;
}
#awards .awards-elem h1,p{
    margin-bottom: 3.5vh;
}
#awards .awards-elem h1{
    font-size: 1.3vw;
    font-weight: 500;
}





/* PAGE 5 */
#page5{
    width: 100%;
    min-height: 110vh;
    background-color: #151515;
    padding: 0.1px;
    position: relative;
}
#page5>.underline{
    margin-top: 15vh;
    height: 0.1vh;
    width: calc(100% - 35vw);
    margin-left: 27.5vw;
    background-color: #fff;
}
#page5>h3{
    margin-left: 27.5vw;
    margin-top: 2vh;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 10vh;
}


#page5 #elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -1.5vw;
}
#page5 #elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -1.5vw;
}
#page5 #elem2 h1{
    font-size: 6.6vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    transform: translateX(calc(-100% - 20px));

    /* background-color: red; */
    animation-name: animee;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}
#page5 #elem h1{
    font-size: 6.6vw;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    /* background-color: red; */
    animation-name: animee;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#page5 #elem h1 span{
    font-family: silk serif;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
}
#page5 #elem2 h1 span{
    font-family: silk serif;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
}
@keyframes animee {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}


/* PAGE 6 */


#page6{
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    padding: 0.1px;
    position: relative;
}
#headingpage6{
    position: relative;
    margin-top: 20vh;
    display: flex;
    width: 100%;
    /* display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-start; */
}

#headingpage6 h1{
    width: 100%;
    /* background-color: rgb(19, 22, 175); */
    font-size: 6.2vw;
    text-transform: uppercase;
    margin-left: 19.8vw;
    letter-spacing: 0.3vw;
    display: flex;
    margin-bottom: 4vh;
}
#headingpage6 h1::before{
    font-size: 3vw;
    content:"04";
     margin-right: 4.5vw;
     font-family: silk serif;
     font-weight: 500;
}
#page6content{
    display: flex;
    justify-content: space-between;
    margin-left: 27.8vw;
    padding: 10vh 12vw 12vh 0;
}
#page6content .elementspage6 h6{
    font-size: 1.4vw;
    font-family: plain light;
    margin-bottom: -.1vh;
}
#page6content .elementspage6 h5{
    font-size: .8vw;
    font-family: plain light;
    font-weight: 500;
    margin-bottom: 2vh;
}
#page6>p{
    margin-left: 27.8vw;
    padding-top: 7vh;
}
#arrowbox{
    /* background-color: red; */
    width: 15vw;
    border-radius: 50%;
    height: 15vw;
    position: absolute;
    left: 70%;
    bottom: -19%;
}
#arrowbox svg{
    width: 100%;
    height: 100%;
    scale: 0.3;
}
._canvas_container{
    z-index: 99999 !important;
    pointer-events: none;
}
#object3 #text-cnt{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    transition: all ease 0.3s;
}
#object3 #text-cnt p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: black;
    scale:0;
    transition: all ease 0.3s;
}
#object3{
    overflow: hidden;
}
#object3:hover #text-cnt{
    scale:1;
}
#object3:hover #text-cnt p{
    scale:1;
}

/* #crsr{
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 50%;
    border: 1px solid #eeeeee;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
} */
#flag{
    opacity: 0;
    height: 25vw;
    width: 15vw;
    transform: translate(-50%,-50%);
    /* position: relative; */
    top: 0;
    left: 0;
    position: absolute;
    /* z-index: 99; */
}
#hero3{
    position: relative;
    width: fit-content;
    /* background-color: red; */
    z-index: 999;
}


@media (max-width:600px) {
    #page1{
        min-height: 60vh;
        padding-top: 0.1px;
        /* overflow: hidden; */
    }
    #page1 #nav{
        width: 100%;
        /* background-color: blue; */
        justify-content: flex-end;
        padding: 4.6vw 4vw 2.6vw 4vw;
        position: fixed;
        top: 0;
    }
    #navpart1{
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    #navpart1 p{
        display: none;
    }
    #navpart1 #svg{
        gap: 75vw;
    }
    
    #navpart2{
        display: none;
    }
    .hero{     
        width: 72%;
        margin-left: 7.5vw;
    }
    .hero h1{
        font-size: 8vw;
    }
    #hero3 h2{
        font-size: 8vw;
    }
    .hero:nth-child(2){
        margin-left: -6.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20vh;
    }
    .hero:nth-child(2)::before{
        font-size: 4vw;
        margin-left: -35vw;
    }
    

    #page2{
        width: 100%;
        min-height: 70vh;
        background-color: #151515;
        position: relative;
        padding-top: 1vh;
    }
    #video-container{
        width: 100%;
        height: 59vh;
        position: relative;
        left:0;
    }
    #video-container #play-button{
        /* transition: all ease; */
        width: 20vw;
        height: 18vh;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }
    #video-container #play-button i{
        font-size: 2vw;
    }


    /* PAGE 3 */


#page3{
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
    position: relative;
    /* overflow: hidden; */
}


#page3 #container1{
    display: block;
}
#page3 #container1 #object1{
    /* background-color: red; */
    /* border-bottom: 1px solid white; */
    width: 100%;
    min-height:80vh;
    margin-right: 5vw;
}
#page3 #container1 #object1 h2{
    font-size: 5vw;
}
#page3 #container1 #object1 .image-div{
    height: 80vh;
}

#page3 #container1 #object1 #text{
    margin-bottom: 2vh;
}
#page3 #container1 #object1 #text p{
    height: fit-content;
    font-family: plain light;
    font-weight: 500;
}
#page3 #container1 #object1 #line{
    width: 100%;
    height: 0.1vh;
    background-color: #fff;
}
#page3 #container1 #object2{
    /* background-color: red; */
    margin-top: 5vh;
    width: 100%;
    min-height:80vh;
}
#page3 #container1 #object2 h2{
    font-size: 5vw;
}
#page3 #container1 #object2 .image-div{
    width: 100%;
    height: 80vh;
}
#page3 #container1 #object2 #text{
    width: 100%;
}
#page3 #container1 #object2 #line{
    width: 100%;
}
#page3 #container1 #object3{
    display: none;
}

#page3 #container2{
    display: block;
    padding: 1vh 6vw;
}
#page3 #container2 #object3{
    display: none;
}
#page3 #container2 #object1{
    /* background-color: red; */
    /* border-bottom: 1px solid white; */
    width: 100%;
    min-height:70vh;
    margin-right: 5vw;
}
#page3 #container2 #object1 h2{
    font-size: 5vw;
}
#page3 #container2 #object1 .image-div{
    width: 100%;
    height: 65vh;
}

#page3 #container2 #object1 #line{

    margin-bottom: 4vh;
}



#page3 #container2 #object2{
    /* background-color: red; */
    width: 100%;
    min-height:65vh;

}
#page3 #container2 #object2 h2{
    font-size: 5vw;
}
#page3 #container2 #object2 .image-div{

    height: 65vh;

}



#page3 #container2 #object2 #line{
    margin-bottom: 3vh;
}

#page3 #object4{
    display: none;
}

#page3 #container3{
    padding: 1vh 6vw;
    position: relative;
    width: 100%;
    min-height: 80vh;
    /* background-color: red; */
    margin-left: 0vw;
    margin-top: 10%;
}
#page3 #container3 #object3{
    display: none;
}
#page3 #container3 #object1{
    padding: 1vh 6vw;
  
   
    left: 0%;
    /* background-color: red; */
    /* border-bottom: 1px solid white; */
    width: 100%;
    min-height:65vh;
    margin-right: 5vw;
}
#page3 #container3 #object1 h2{
    font-size: 5vw;
    
}


#page3 #container4{
    height: 50vh;
}
#page3 #container4 #object3{

    width: 50vw;
    height: 50vw;

}
/* PAGE 4 */

#page4{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #151515;
}

#page4 #firstp{

    font-size: 4vw;
    height: fit-content;
    width: 70%;
    margin-left: 7.8vw;
    margin-top: 5vh;
}
#page-4content{
    position: relative;
    top: 0;
    width: 100%;
    margin-top: 1vh;
    /* background-color: red; */
}
#page-4flex{
    padding-right: 4vw;
    padding-left: 4vw;
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    position: relative;
    width: 100%;
    margin-left: 4vw;
    gap: 2vw;
}
#page-4flex img{
    width: calc(100% - 7.8vw);
}
#page-4flex p{
    margin-top: 0vh;
    width: 70%;
    height: fit-content;
}

#awards{
    width: calc(100% - 15.8vw);
    position: relative;
    margin-top: 0vh;
    left: 0%;
    margin-left: 8vw;

    padding: 4vw 4vw;
}

#awards .awards-elem h1{
    font-size: 2.6vw;
}
/* PAGE 5 */
#page5{
    width: 100%;
    min-height: 50vh;
    background-color: #151515;
    padding: 0.1px;
    position: relative;
}
#page5>.underline{
    margin-top: 10vh;
    width: calc(100% - 8vw);
    margin-left: 4vw;
}
#page5>h3{
    margin-left: 4vw;
    font-size: 2vw;
    margin-bottom: 5vh;
}
/* PAGE 6 */


#page6{
    width: 100%;
    min-height: fit-content;
    background-color: #151515;
    padding: 0.1px;
    position: relative;
}
#headingpage6{
    position: relative;
    margin-top: 2vh;
    display: flex;
    width: 100%;
    /* display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-start; */
}

#headingpage6 h1{
    width: 100%;
    /* background-color: rgb(19, 22, 175); */
    font-size: 6.2vw;
    text-transform: uppercase;
    margin-left: 4vw;
    letter-spacing: 0.3vw;
    display: flex;
    margin-bottom: 4vh;
}
#page6>.underline{
    margin-left: 4vw;
    width: calc(100% - 8vw);
}
#page6content{
    margin-left: 4vw;
    padding: 4vh 4vw 4vh 4vw;
}
#page6content .elementspage6 h6{
    font-size: 2.5vw;
    line-height: 2.5vh;
}
#page6content .elementspage6 h5{
    font-size: 2vw;
}
#page6>p{
    margin-left: 4vw;
    padding-top: 2vh;
    font-weight: 500;
    font-size: 2vw;
}
#arrowbox{
    display: none;
}

}